version:  '3.2'

networks:
  default:
    external:
      name: kelu

services:
  nginx:
    image: openresty/openresty:alpine
    restart: always
    container_name: nginx
    volumes:
      - ./:/var/www/html:rw
      - ./docker/letsencrypt/data:/etc/letsencrypt:rw
      - ./docker/openresty/conf.d_win:/etc/nginx/conf.d:rw
      - ./docker/openresty/conf/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:rw
      - ./docker/tmp/openresty:/etc/nginx/fastcgi_cache/one_hour:rw
      - ./docker/log:/log:rw
      - type: bind
        source: lnmpsock
        target: /sock
    links:
      - "php"
    ports:
      - "80:80"
      - "443:443"
      - "8443:8443"

  php:
    build: ./docker/php
    restart: always
    container_name: php
    volumes:
      - ./:/var/www/html:rw
      - ./docker/php/php-fpm.d:/usr/local/etc/php-fpm.d
      - ./docker/php/conf/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./docker/log:/log:rw
      - type: bind
        source: lnmpsock
        target: /sock
    privileged: true
    links:
      - "pgsql:pgsql"

  composer:
    image: composer:1.4.2
    restart: always
    container_name: composer
    stdin_open: true
    tty: true
    volumes:
      - ./:/app:rw
    entrypoint:  [ "/bin/bash"]
#      - ./docker/php/php-fpm.d:/usr/local/etc/php-fpm.d
#      - ./docker/php/conf/php-fpm.conf:/usr/local/etc/php-fpm.conf
#      - ./docker/log:/log:rw
#      - type: bind
#        source: lnmpsock
#        target: /sock

  redis:
    image: redis
    container_name: redis
    restart: always
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"

  yarn:
    image: kelvinblood/yarn
    restart: always
    container_name: yarn
    stdin_open: true
    tty: true
    volumes:
      - ./:/var/www/html:rw
      - ./tmp/yarn:/usr/local/share/.cache/yarn
    entrypoint:
      - npm
      - run
      - watch
      - --
      - --watch-poll
#    working_dir: /var/www/html

  pgsql:
    image: kelvinblood/pgsql:v9.4-alpine
    restart: always
    container_name: pgsql
    volumes:
 #      - ./psql/data:/var/lib/postgresql/data
      - type: bind
        source: lnmpdb
        target: /var/lib/postgresql/data
      - ./docker/psql/dump:/var/lib/postgresql/dump:rw
    environment:
      DBNAME: vpn
    ports:
      - "5432:5432"

volumes:
  lnmpsock:
    external:
      name: lnmpsock
  lnmpdb:
    external:
      name: lnmpdb
